.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.page > *:not(:last-child) {
  margin-bottom: 10px;
}